
<div id="product">
<p id="p_name"><%= @product.name %></p>
<p id="p_description"><%= @product.description %></p>
<p id="p_invetory"><%= @product.inventory%></p>

</div>
<a href="#"class="js-next" data-id="<%= @product.id%>">Next Product</a>
<!-- <button class="js-next" data-id="<%= @product.id%>">Next Product</button> -->
<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-next").on('click', function() {
    var nextId = $(this).data('id') + 1
    console.log(nextId)
    $.getJSON('/products/'+ nextId + '/data', function(data){
      console.log(data)
      $('#p_name').text(data['name'])
      $('#p_description').text(data['description'])
      $('#p_inventory').text(data['inventory'])
      $(".js-next").attr("data-id", nextId);
    })
  })
})
</script>
